*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    color: black;
}

div.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
    position: fixed;
}

a.bttn{
    background-color: rgb(44, 44, 44);
    width: 20%;
    padding: 0px;
    font-weight: bold;
    color: aqua;
    padding: 15px 32px;
    font-size: 2vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

a.bttn:hover{
    background-color: aqua;
    color: rgb(44, 44, 44);
}

div.contain{
    padding: 50px;
    margin-top: 20px;
    background: black;
    border-radius: 10px;
}

div.head1{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
}

div.head{
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

div.dt1{
    color: goldenrod;
    padding: 50px;
    margin: 20px;
    font-family: cursive;
    text-align: center;
}

div.about{
    padding-top: 35px;
}

p.detail{
    font-size: 200%;

}

p.about{
    text-align: center;
    font-size: 200%;
    padding: 15px;
    color: black;
}

div.certify{
    background: rgb(44, 44, 44);
    color: aqua;
    padding-top: 35px;
}

p.certify{
    text-align: center;
    font-size: 150%;
}

div.image{
    display: flex;
    justify-content: center;
}

img{
    width: 40%;
    height: 40%;
    border: 3px black solid;
    margin: 10px;
}

h1{
    text-align: center;
    text-decoration: underline;
}

ul.certify{
    list-style-type: circle;
    list-style-position: inside;
    font-size: x-large;
}

div.project{
    color: aqua;
    background: rgb(44, 44, 44);
    padding-top: 35px;
}

h2{
    text-align: center;
    padding: 15px;
    padding-bottom: 30px;
}

h2 a{
    text-decoration: none;
    color: white;
}

h2 a:hover{
    text-decoration: none;
    cursor: pointer;
    color: red;
}

div.ig{
    width: 100%;
    height: 100%;
}

div.ig img{
    width: inherit;
    height: inherit;
    border: 3px black solid;
    margin: 0px;
}

div.link{
    text-align: center;
    font-size: 130%;
}

p{
    padding-left: 10px;
    font-size: 130%;
    color: white;
}

div.img a{
    text-decoration: none;
    color: white;
}

div.img a:hover{
    text-decoration: none;
    cursor: pointer;
    color: red;
}

div.contact{
    background: rgb(44, 44, 44);
    color: aqua;
}

div.contact1{
    text-align: center;
    padding: 30px;
    color: white;
}

p a{
    color: aqua;
    text-decoration: none;
}

p a:hover{
    text-decoration: none;
    color: red;
}