{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="nav">
        <a href="#" class="bttn">Home</a>
        <a href="#about" class="bttn">About Me</a>
        <a href="#certificates" class="bttn">Certificates</a>
        <a href="#projects" class="bttn">Projects</a>
        <a href="#contact" class="bttn">Contact</a>
    </div>

    <br><br>

    <div class="contain">
        <div class="head1">AYUSH KUMAR SINGH</div>
        <div class="dt1">
            <p class="detail">I, Ayush Kumar Singh, welcome you to my candidate portfolio.<br>I am very excited to show you my work.<br>This Portfolio consists all my achievements, skills and projects.<br>Feel free to contact me for further details.</p>
        </div>
    </div>

    <br><br>

    <div class="about" id="about">
        <div class="head">About Me</div>
        <div class="dt2">
            <p class="about">I'm a final year B.Tech student in Vellore Institute of Technology Bhopal specialised in Electronics and Communication Engineering.<br>I am Django web developer who like to build aesthetic and user-friendly websites.<br>I have used my skills to develop different web applications.</p>
        </div>
    </div>

    <br><br><br><br>

    <div class="certify" id="certificates">
        <div class="head">Certificates</div>
        <div class="dt3">
            <p class="certify">Github link : <a href="https://github.com/ayushsingh24/Certificates" target="_blank">https://github.com/ayushsingh24/Certificates</a></p>
            <br><br>
            <h1>Python and Django</h1>
            <ul class="certify">
                <li>Learnt python as a backend language</li>
                <li>Did some projects with python including a web automation chatbot</li>
                <li>Learnt Django as a backend framework because it is loaded with all the important libraries and database.</li>
            </ul>
            <div class="image">
                <img src="{% static 'images/python3.jpg' %}">
                <img src="{% static 'images/django.jpg' %}">
            </div>
            <br><br>
            <h1>HTML5</h1>
            <ul class="certify">
                <li>Learnt the basics of HTML5 from Udemy</li>
                <li>Used 'W3schools' as a reference for CSS3</li>
                <li>Designed some web pages using HTML5 and CSS3</li>
            </ul>
            <div class="image">
                <img src="{% static 'images/html.jpg' %}">
                <img src="{% static 'images/html5.jpg' %}">
            </div>
            <br><br>
            <h1>CSS3, Javascript and Bootstrap</h1>
            <ul class="certify">
                <li>CSS is used for styling the web page and Javascript makes a website dynamic without involving the backend.</li>
                <li>Also worked with Bootstrap since it contains predefined CSS3 and Javascript classes.</li>
            </ul>
            <div class="image">
                <img src="{% static 'images/html,css,js.jpg' %}">
                <img src="{% static 'images/bootstrap.jpg' %}">
            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br>

    <div class="project" id="projects">
        <div class="head">Projects</div>
        <p class="certify">Here are some of my projects : </p>
        <h1>News Website</h1>
        <div class="ig">
            <img src="{% static 'images/news24-7.png' %}">
        </div>
        <div class="img">
            <ul class="certify">
                <li>First website that I designed</li>
                <li>Used a news api to get required data and sorted it</li>
                <li>Compatible languages-Hindi and English</li>
            </ul>
            <div class="link"><a href="https://news24-7.herokuapp.com/" target="_blank">View Website</a></div>
        </div>
        <br><br>
        <h1>Website for a Transport Company</h1>
        <div class="ig">
            <img src="{% static 'images/vidarbha.png' %}">
        </div>

        <div class="img">
            <ul class="certify">
                <li>Designed for a local transport business</li>
                <li>Homepage displays all the important details about the company</li>
                <li>Seperate page for owner with login credentials to see all the booking and accept or deny them.</li>
                <li>Customer can view his booking status on the homepage.</li>
            </ul>
            <div class="link"><a href="https://vidarbhagoodscarrier.herokuapp.com/" target="_blank">View Website</a></div>
        </div>
        <h2>GITHUB : <a href="https://github.com/ayushsingh24" target="_blank">https://github.com/ayushsingh24</a></h2>
    </div>

    <br><br><br><br>

    <div class="contact" id="contact">
        <div class="head">Contact me</div>
            <div class="contact1">

                <p>Mobile no. : 
                        <a href="tel:6387972627" class="noline" target="_blank">6387972627</a>,
                </p>

                <p>Email: <a href="mailto:ayush.singh2018@vitbhopal.ac.in" class="noline" target="_blank">ayush.singh2018@vitbhopal.ac.in</a></p>
            </div>
        </div>
    </div>

</body>
</html>