{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <a href="#" class="bttn">Home</a>
        <a href="#about" class="bttn">About Me</a>
        <a href="#certificates" class="bttn">Certificates</a>
        <a href="#projects" class="bttn">Projects</a>
        <a href="#contact" class="bttn">Contact</a>
    </div>

    <br><br>

    <div class="contain">
        <div class="head1">AYUSH KUMAR SINGH</div>
        <div class="dt1">
            <p class="detail">I, Ayush Kumar Singh, welcome you to my candidate portfolio.<br>I am very excited to show you my work.<br>This Portfolio consist all my achievements, skills and projects.<br>Feel free to contact for further details.</p>
        </div>
    </div>

    <br><br>

    <div class="about" id="about">
        <div class="head">About Me</div>
        <div class="dt2">
            <p class="about">I'm a 3rd year B.Tech student in VIT Bhopal Electronics and Communication Department.<br> Since I'm an ECE student, I was not that engaged with programming.<br>I learnt python in my 2nd year just for personal interest.<br>After that, I learnt Django as a backend framework as I wanted to do something relevant with my skills.<br>I learnt HTML, CSS and Javascript to complete my skill set as a web developer.<br>I am really good at backend development.</p>
        </div>
    </div>

    <br><br><br><br>

    <div class="certify" id="certificates">
        <div class="head">Certificates</div>
        <div class="dt3">
            <p class="certify">For all my skills, I used Udemy courses as a learning material.</p>
            <br><br>
            <h1>Python and Django</h1>
            <ul class="certify">
                <li>I leant python as a backend language since it's flexible and easy to use.</li>
                <li>I did some projects with python including a web automation chatbot.</li>
                <li>I used 'Javatpoint' as reference material for Python.</li>
                <li>Since there are two popular python framework for web development- Django and Flask, but I learnt Django because it is loaded with all the important libraries and database.</li>
            </ul>
            <div class="image">
                <img src="{% static 'images/python3.jpg' %}">
                <img src="{% static 'images/django.jpg' %}">
            </div>
            <br><br>
            <h1>HTML5</h1>
            <ul class="certify">
                <li>A web developer should have good knowledge in HTML since it is the structure of any website.</li>
                <li>I learnt the basics of HTML5 from Udemy.</li>
                <li>I also used 'W3schools' to sharpen my skills.</li>
            </ul>
            <div class="image">
                <img src="{% static 'images/html.jpg' %}">
                <img src="{% static 'images/html5.jpg' %}">
            </div>
            <br><br>
            <h1>CSS3, Javascript and Bootstrap</h1>
            <ul class="certify">
                <li>CSS and Javascriptare also very important for a web developer.</li>
                <li>CSS is used for stling the web page and Javascript makes a website dynamic without involving the backend.</li>
                <li>I learnt Bootstrap because it's saves time in styling the page with some predefined CSS and Javascript classes.</li>
                <li>For CSS3 and Javascript also, I used 'W3schools' as reference.</li>
            </ul>
            <div class="image">
                <img src="{% static 'images/html,css,js.jpg' %}">
                <img src="{% static 'images/bootstrap.jpg' %}">
            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br>

    <div class="project" id="projects">
        <div class="head">Projects</div>
        <p class="certify">To improve my knowledge, I started doing some projects. Here are two of them : </p>
        <h1>News Website</h1>
        <div class="img">
            <img src="{% static 'images/news24-7.png' %}">
        </div>
        <div class="img">
            <ul class="certify">
                <li>This was my first website. I designed it from scratch.</li>
                <li>For data, I used a news api and sorted it with python.</li>
                <li>All the sorted data can be viewed in two languages-Hindi and English.</li>
            </ul>
            <div class="link"><a href="https://news24-7.herokuapp.com/" target="_blank">View Website</a></div>
        </div>
        <br><br>
        <h1>Website for a Transport Company</h1>
        <div class="img">
            <img src="{% static 'images/vidarbha.png' %}">
        </div>

        <div class="img">
            <ul class="certify">
                <li>This was a website I designed for a local transport business.</li>
                <li>On homepage, you will get all the details about the company</li>
                <li>There is a seperate page for owner with login credentials to see all the booking and accept or deny them.</li>
                <li>Customer can view his booking status on the homepage.</li>
            </ul>
            <div class="link"><a href="https://vidarbhagoodscarrier.herokuapp.com/" target="_blank">View Website</a></div>
        </div>
        <h2>HERE IS A LINK TO MY GITHUB ACCOUNT : <a href="https://github.com/ayushsingh24" target="_blank">https://github.com/ayushsingh24</a></h2>
    </div>

    <br><br><br><br>

    <div class="contact" id="contact">
        <div class="head">Contact me</div>
            <div class="contact1">

                <p>Mobile no. : 
                        <a href="tel:6387972627" class="noline" target="_blank">6387972627</a>,
                </p>

                <p>Email: <a href="mailto:ayush.singh2018@vitbhopal.ac.in" class="noline" target="_blank">ayush.singh2018@vitbhopal.ac.in</a></p>
            </div>
        </div>
    </div>
    
</body>
</html>